<% provide(:title, 'About') %>
<h1>About</h1>
   
<h2>Profile</h2>
<h3>Orathai Easterly – Personal Trainer</h3>

<p>
	<ul><li>Client Focussed Programming </li>
<li>Functional Movement screening and Strength training - Move better, Feel Great </li>
<li>Kickboxing for Fitness and Fun - Stress and Plateau buster </li>
</ul> 
</p>

<p>
Training Philosophy
My philosophy towards physical training is grounded in functional movement that delves into mobility, balance, flexibility, core conditioning, orchestration of complex muscle synchronicity, functional strength and peak dynamic movement. All of this is coached through a comprehensive set of fun and always evolving activities. Additional benefits include preventing injuries, weight management, increasing daily energy, better sleeping patterns and much more.
</p>

<p>
Background
I have assisted clients from various fitness backgrounds to attain goals and maintain commitment to achieve well-being betterment through exercise and nutritional guidance. My education background in Exercise Science is combined with several years of experience in the Health and Fitness industry and a passion for movement and progression. My training discipline spans yoga, various Martial Arts ( Taekwondo, Muay Thai and Capoeira ) complemented by functional strength training.
 

</p>

  </body>
