   <% provide(:title, 'Urbanchimps') %>
   <div class="center hero-unit">
    <h1>Urbanchimps</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultrices sapien ac aliquam hendrerit. Cras tempus, lacus ac pretium convallis, turpis libero ullamcorper tortor, faucibus posuere nisi dolor ac dolor. Suspendisse rutrum magna arcu, a mattis sem vestibulum efficitur. 
    </p>
<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
<%= link_to image_tag("logo.png", alt: "Urbanchimps"), 'http://urbanchimps.net/'%>
</div>
