<% provide(:title, 'Services') %>
    <h1>Services</h1>
    <p>
     <h1>Services</h1>
<p>Weight Management</p>
<p>Functional Strength</p>
<p>Cardio kickboxing</p>
<p>Flexibility / Mobility</p>
<p>Movement Screening</p>
<p>Corrective exercises</p>

<p>Personal Training – 1 on 1
Personalised exercise program and plan to assist in achieving your health and fitness goals.

This includes pre-screen assessment, needs analysis and custom program</p>

    </p>
